In [6]:
import pandas as pd
import requests

df2024= pd.read_html('https://www.nirfindia.org/Rankings/2024/OverallRanking.html')
result = df2024[0]

edf = pd.DataFrame()
for l in df2024[1:]:
    edf = pd.concat([edf, l])

# df1 = pd.concat([result, edf], ignore_index=True)
result = result.reset_index(drop=True)
edf = edf.reset_index(drop=True)

df1 = pd.concat([result, edf], axis=1)
#df1 = df1.reset_index(drop=True)
df1['Year']= 2024
print(df1)

   Institute ID                                               Name       City  \
0   IR-O-U-0456  Indian Institute of Technology MadrasMore Deta...    Chennai
1   IR-O-U-0220  Indian Institute of Science, BengaluruMore Det...  Bengaluru
2   IR-O-U-0306  Indian Institute of Technology BombayMore Deta...     Mumbai
3   IR-O-I-1074  Indian Institute of Technology DelhiMore Detai...  New Delhi
4   IR-O-I-1075  Indian Institute of Technology KanpurMore Deta...     Kanpur
..          ...                                                ...        ...
95  IR-O-I-1486  Sri Ramachandra Institute of Higher Education ...    Chennai
96  IR-O-U-0003       Acharya Nagarjuna UniversityMore Details | |     Guntur
97  IR-O-U-0331  Tata Institute of Social SciencesMore Details | |     Mumbai
98  IR-O-U-0686  All India Institute of Medical Sciences PatnaM...      Patna
99  IR-O-U-0470                 Periyar UniversityMore Details | |      Salem

             State  Score  Rank  TLR (100)  RPC (100)  GO (100)  OI (100)  \
0       Tamil Nadu  86.42     1      88.37      87.30     85.76     65.68
1        Karnataka  83.28     2      83.60      86.50     82.17     58.46
2      Maharashtra  81.37     3      83.85      82.35     83.36     59.05
3            Delhi  80.31     4      76.57      86.23     77.48     66.23
4    Uttar Pradesh  77.56     5      89.84      69.09     81.96     60.83
..             ...    ...   ...        ...        ...       ...       ...
95      Tamil Nadu  48.10    96      72.73      22.22     62.46     62.99
96  Andhra Pradesh  47.73    97      64.38      17.00     82.97     65.00
97     Maharashtra  47.56    98      66.96      15.83     71.49     72.19
98           Bihar  47.55    99      69.57      20.49     60.00     66.08
99      Tamil Nadu  47.43   100      61.51      29.46     69.58     59.86

    PERCEPTION (100)  Year
0             100.00  2024
1              99.70  2024
2              89.32  2024
3              93.48  2024
4              74.12  2024
..               ...   ...
95              8.21  2024
96              2.32  2024
97             11.96  2024
98             19.19  2024
99              2.32  2024

[100 rows x 12 columns]

In [7]:
import pandas as pd
import requests

df2023= pd.read_html('https://www.nirfindia.org/Rankings/2023/OverallRanking.html')
result1 = df2023[0]

edf1 = pd.DataFrame()
for l in df2023[1:]:
    edf1 = pd.concat([edf1, l])

#df2 = result1.merge(edf1, left_index=True, right_index=True)

result1 = result1.reset_index(drop=True)
edf1 = edf1.reset_index(drop=True)
df2 = pd.concat([result1, edf1], axis=1)

#df2 = df2.reset_index(drop=True)
df2['Year']= 2023
print(df2)

   Institute ID                                               Name  \
0   IR-O-U-0456  Indian Institute of Technology MadrasMore Deta...
1   IR-O-U-0220        Indian Institute of ScienceMore Details | |
2   IR-O-I-1074  Indian Institute of Technology DelhiMore Detai...
3   IR-O-U-0306  Indian Institute of Technology BombayMore Deta...
4   IR-O-I-1075  Indian Institute of Technology KanpurMore Deta...
..          ...                                                ...
95  IR-O-U-0318                  Mumbai UniversityMore Details | |
96  IR-O-U-0389               Banasthali VidyapithMore Details | |
97  IR-O-I-1486  Sri Ramachandra Institute of Higher Education ...
98  IR-O-S-8972  Indian Institute of Management CalcuttaMore De...
99  IR-O-U-0217                  Christ UniversityMore Details | |

          City          State  Score  Rank  TLR (100)  RPC (100)  GO (100)  \
0      Chennai     Tamil Nadu  86.69     1      86.45      89.88     87.22
1    Bengaluru      Karnataka  83.09     2      82.43      88.45     80.57
2    New Delhi          Delhi  82.16     3      82.06      85.23     79.21
3       Mumbai    Maharashtra  81.28     4      80.71      86.14     84.26
4       Kanpur  Uttar Pradesh  77.23     5      85.45      72.94     83.62
..         ...            ...    ...   ...        ...        ...       ...
95      Mumbai    Maharashtra  45.86    96      56.15      17.82     86.24
96  Banasthali      Rajasthan  45.85    97      50.45      17.72     84.22
97     Chennai     Tamil Nadu  45.84    98      68.85      18.53     62.74
98     Kolkata    West Bengal  45.74    99      60.63      14.58     63.60
99   Bengaluru      Karnataka  45.65   100      52.14      18.96     67.20

    OI (100)  PERCEPTION (100)  Year
0      63.59            100.00  2023
1      59.23             97.94  2023
2      70.32             90.98  2023
3      58.76             84.98  2023
4      60.24             69.84  2023
..       ...               ...   ...
95     56.27              7.82  2023
96     77.31              8.15  2023
97     62.90              7.82  2023
98     66.22             38.40  2023
99     69.84             39.05  2023

[100 rows x 12 columns]

In [8]:
import pandas as pd
import requests

df2022= pd.read_html('https://www.nirfindia.org/Rankings/2022/OverallRanking.html')
result2 = df2022[0]

edf2 = pd.DataFrame()
for l in df2022[1:]:
    edf2 = pd.concat([edf2, l])

result2 = result2.reset_index(drop=True)
edf2 = edf2.reset_index(drop=True)
df3 = pd.concat([result2, edf2], axis=1)


#df3 = df3.reset_index(drop=True)
df3['Year']= 2022
print(df3)

    Institute ID                                               Name  \
0    IR-O-U-0456  Indian Institute of Technology MadrasMore Deta...
1    IR-O-U-0220        Indian Institute of ScienceMore Details | |
2    IR-O-U-0306  Indian Institute of Technology, BombayMore Det...
3    IR-O-I-1074  Indian Institute of Technology, DelhiMore Deta...
4    IR-O-I-1075  Indian Institute of Technology KanpurMore Deta...
..           ...                                                ...
95  IR-O-C-16604  Sri Sivasubramaniya Nadar College of Engineeri...
96   IR-O-U-0564  University of Petroleum and Energy StudiesMore...
97   IR-O-U-0215               Bangalore UniversityMore Details | |
98   IR-O-U-0331  Tata Institute of Social SciencesMore Details | |
99   IR-O-U-0249  Visvesvaraya Technological UniversityMore Deta...

            City          State  Score  Rank  TLR (100)  RPC (100)  GO (100)  \
0        Chennai     Tamil Nadu  87.59     1      86.56      91.98     89.36
1      Bengaluru      Karnataka  83.57     2      82.08      87.45     84.80
2         Mumbai    Maharashtra  82.35     3      85.55      84.09     83.08
3      New Delhi          Delhi  82.22     4      81.98      84.81     79.36
4         Kanpur  Uttar Pradesh  77.83     5      86.90      70.55     83.89
..           ...            ...    ...   ...        ...        ...       ...
95  Kancheepuram     Tamil Nadu  44.69    96      53.14      30.69     63.87
96      Dehradun    Uttarakhand  44.65    97      56.69      19.48     60.48
97     Bangalore      Karnataka  44.53    98      58.70      17.38     74.73
98        Mumbai    Maharashtra  44.52    99      56.66      10.45     78.36
99       Belgaum      Karnataka  44.35   100      58.94      27.28     61.10

    OI (100)  PERCEPTION (100)  Year
0      62.95             98.75  2022
1      57.46            100.00  2022
2      59.54             88.80  2022
3      70.07             93.08  2022
4      60.26             77.86  2022
..       ...               ...   ...
95     52.73             15.04  2022
96     65.01             31.99  2022
97     57.04             10.45  2022
98     75.42             11.75  2022
99     58.36              4.30  2022

[100 rows x 12 columns]

In [9]:
dftotal=pd.concat([df1, df2, df3])
dftotal

,Institute ID,Name,City,State,Score,Rank,TLR (100),RPC (100),GO (100),OI (100),PERCEPTION (100),Year
0,IR-O-U-0456,Indian Institute of Technology MadrasMore Deta...,Chennai,Tamil Nadu,86.42,1,88.37,87.30,85.76,65.68,100.00,2024
1,IR-O-U-0220,"Indian Institute of Science, BengaluruMore Det...",Bengaluru,Karnataka,83.28,2,83.60,86.50,82.17,58.46,99.70,2024
2,IR-O-U-0306,Indian Institute of Technology BombayMore Deta...,Mumbai,Maharashtra,81.37,3,83.85,82.35,83.36,59.05,89.32,2024
3,IR-O-I-1074,Indian Institute of Technology DelhiMore Detai...,New Delhi,Delhi,80.31,4,76.57,86.23,77.48,66.23,93.48,2024
4,IR-O-I-1075,Indian Institute of Technology KanpurMore Deta...,Kanpur,Uttar Pradesh,77.56,5,89.84,69.09,81.96,60.83,74.12,2024
...,...,...,...,...,...,...,...,...,...,...,...,...
95,IR-O-C-16604,Sri Sivasubramaniya Nadar College of Engineeri...,Kancheepuram,Tamil Nadu,44.69,96,53.14,30.69,63.87,52.73,15.04,2022
96,IR-O-U-0564,University of Petroleum and Energy StudiesMore...,Dehradun,Uttarakhand,44.65,97,56.69,19.48,60.48,65.01,31.99,2022
97,IR-O-U-0215,Bangalore UniversityMore Details | |,Bangalore,Karnataka,44.53,98,58.70,17.38,74.73,57.04,10.45,2022
98,IR-O-U-0331,Tata Institute of Social SciencesMore Details | |,Mumbai,Maharashtra,44.52,99,56.66,10.45,78.36,75.42,11.75,2022
99,IR-O-U-0249,Visvesvaraya Technological UniversityMore Deta...,Belgaum,Karnataka,44.35,100,58.94,27.28,61.10,58.36,4.30,2022

In [10]:
# Sorting data by 'TLR (100)' scores
sorted_data = df1.sort_values('TLR (100)', ascending=False)

# Dividing the sorted scores into quartiles
quartiles = pd.qcut(sorted_data['TLR (100)'], 4, labels=False)

# Adding quartile information to the data
sorted_data['Quartile'] = quartiles

# Extracting the top quartile (highest TLR scores)
top_performing_group = sorted_data[sorted_data['Quartile'] == 3]

# Displaying the top-performing group
top_performing_group

,Institute ID,Name,City,State,Score,Rank,TLR (100),RPC (100),GO (100),OI (100),PERCEPTION (100),Year,Quartile
4,IR-O-I-1075,Indian Institute of Technology KanpurMore Deta...,Kanpur,Uttar Pradesh,77.56,5,89.84,69.09,81.96,60.83,74.12,2024,3
0,IR-O-U-0456,Indian Institute of Technology MadrasMore Deta...,Chennai,Tamil Nadu,86.42,1,88.37,87.30,85.76,65.68,100.00,2024,3
2,IR-O-U-0306,Indian Institute of Technology BombayMore Deta...,Mumbai,Maharashtra,81.37,3,83.85,82.35,83.36,59.05,89.32,2024,3
1,IR-O-U-0220,"Indian Institute of Science, BengaluruMore Det...",Bengaluru,Karnataka,83.28,2,83.60,86.50,82.17,58.46,99.70,2024,3
6,IR-O-N-15,All India Institute of Medical Sciences DelhiM...,New Delhi,Delhi,74.27,7,79.09,71.26,68.66,71.29,82.97,2024,3
11,IR-O-U-0013,Indian Institute of Technology HyderabadMore D...,Hyderabad,Telangana,66.69,12,78.96,56.59,73.33,59.21,54.34,2024,3
13,IR-O-U-0234,"Manipal Academy of Higher Education, ManipalMo...",Manipal,Karnataka,64.94,14,78.11,55.94,77.34,67.33,25.34,2024,3
35,IR-O-U-0222,JSS Academy of Higher Education and ResearchMo...,Mysuru,Karnataka,55.79,36,76.68,32.12,69.66,76.95,15.07,2024,3
5,IR-O-U-0573,Indian Institute of Technology KharagpurMore D...,Kharagpur,West Bengal,74.77,6,76.65,74.94,80.18,57.29,75.24,2024,3
3,IR-O-I-1074,Indian Institute of Technology DelhiMore Detai...,New Delhi,Delhi,80.31,4,76.57,86.23,77.48,66.23,93.48,2024,3
7,IR-O-U-0560,Indian Institute of Technology RoorkeeMore Det...,Roorkee,Uttarakhand,71.52,8,76.55,70.48,79.14,62.91,52.89,2024,3
17,IR-O-U-0436,Amrita Vishwa VidyapeethamMore Details | |,Coimbatore,Tamil Nadu,63.81,18,76.51,47.82,77.63,73.83,36.07,2024,3
28,IR-O-U-0139,Indian Institute of Technology GandhinagarMore...,Gandhinagar,Gujarat,58.77,29,76.40,41.53,69.97,69.21,24.82,2024,3
8,IR-O-U-0053,Indian Institute of Technology GuwahatiMore De...,Guwahati,Assam,69.04,9,76.33,64.43,81.35,61.96,43.43,2024,3
26,IR-O-U-0304,Homi Bhabha National InstituteMore Details | |,Mumbai,Maharashtra,60.13,27,76.29,52.45,76.95,53.84,7.42,2024,3
40,IR-O-U-0006,Andhra UniversityMore Details | |,Visakhapatnam,Andhra Pradesh,54.97,41,75.44,26.05,85.19,64.68,10.13,2024,3
9,IR-O-U-0109,Jawaharlal Nehru UniversityMore Details | |,New Delhi,Delhi,68.53,10,74.93,45.27,97.34,72.28,57.71,2024,3
27,IR-O-U-0356,Kalinga Institute of Industrial TechnologyMore...,Bhubaneswar,Odisha,59.94,28,74.74,42.01,79.53,76.35,13.72,2024,3
37,IR-O-U-0260,Kerala UniversityMore Details | |,Thiruvananthapuram,Kerala,55.61,38,74.52,26.72,94.82,58.19,4.52,2024,3
62,IR-O-I-1110,Dr. D. Y. Patil VidyapeethMore Details | |,Pune,Maharashtra,52.72,63,74.46,26.12,63.10,61.74,37.45,2024,3
79,IR-O-U-0381,Punjab Agricultural UniversityMore Details | |,Ludhiana,Punjab,50.55,80,74.19,32.43,64.12,49.58,7.82,2024,3
23,IR-O-U-0363,Siksha `O` AnusandhanMore Details | |,Bhubaneswar,Odisha,60.73,24,74.09,42.19,74.06,72.74,37.65,2024,3
73,IR-O-U-0691,All India Institute of Medical Sciences Rishik...,Rishikesh,Uttarakhand,51.22,74,74.07,35.35,50.68,69.13,13.37,2024,3
15,IR-O-U-0496,Aligarh Muslim UniversityMore Details | |,Aligarh,Uttar Pradesh,64.17,16,74.02,45.91,93.81,61.15,33.15,2024,3
83,IR-O-N-10,SVKM`s Narsee Monjee Institute of Management S...,Mumbai,Maharashtra,49.59,84,74.00,24.83,64.38,65.17,5.37,2024,3